
-- Start transaction
BEGIN;

-- First ensure the user_role type exists and has 'admin'
DO start 
BEGIN
    IF NOT EXISTS (SELECT 1 FROM pg_type WHERE typname = 'user_role') THEN
        CREATE TYPE user_role AS ENUM ('user', 'admin');
    END IF;
END start;

-- Ensure admin exists in auth.users
INSERT INTO auth.users (email, raw_user_meta_data)
SELECT 'admin@glowmatch.com', 
       jsonb_build_object('full_name', 'Admin User', 'role', 'admin')
WHERE NOT EXISTS (
    SELECT 1 FROM auth.users WHERE email = 'admin@glowmatch.com'
);

-- Update or create admin profile
INSERT INTO user_profiles (
    id,
    email,
    full_name,
    role
)
SELECT 
    au.id,
    'admin@glowmatch.com',
    'Admin User',
    'admin'::user_role
FROM auth.users au
WHERE au.email = 'admin@glowmatch.com'
ON CONFLICT (id) DO UPDATE 
SET role = 'admin'::user_role,
    updated_at = CURRENT_TIMESTAMP
RETURNING id;

-- Create admin subscription plan
INSERT INTO subscription_plans (
    name,
    plan_type,
    price,
    quiz_attempts,
    description,
    features,
    is_active
)
VALUES (
    'Admin Plan',
    'plus',
    0.00,
    999999,
    'Administrative unlimited access plan',
    '[\
Unlimited
quiz
attempts\, \Full
administrative
access\, \All
premium
features\]'::jsonb,
    true
)
ON CONFLICT (name) DO UPDATE 
SET quiz_attempts = 999999,
    is_active = true
RETURNING id;

-- Create or update admin subscription
WITH admin_plan AS (
    SELECT id FROM subscription_plans WHERE name = 'Admin Plan'
),
admin_user AS (
    SELECT id FROM user_profiles WHERE email = 'admin@glowmatch.com'
)
INSERT INTO user_subscriptions (
    user_id,
    plan_id,
    status,
    current_period_start,
    current_period_end,
    quiz_attempts_used,
    quiz_attempts_limit
)
SELECT 
    (SELECT id FROM admin_user),
    (SELECT id FROM admin_plan),
    'active',
    CURRENT_TIMESTAMP,
    CURRENT_TIMESTAMP + INTERVAL '100 years',
    0,
    999999
ON CONFLICT (user_id) DO UPDATE 
SET plan_id = EXCLUDED.plan_id,
    status = EXCLUDED.status,
    current_period_end = EXCLUDED.current_period_end,
    quiz_attempts_limit = EXCLUDED.quiz_attempts_limit,
    quiz_attempts_used = 0,
    updated_at = CURRENT_TIMESTAMP;

-- Verify the changes
SELECT 
    up.email,
    up.role,
    sp.name as plan_name,
    us.quiz_attempts_limit,
    us.status,
    us.current_period_end
FROM user_profiles up
JOIN user_subscriptions us ON up.id = us.user_id
JOIN subscription_plans sp ON us.plan_id = sp.id
WHERE up.email = 'admin@glowmatch.com';

COMMIT;

