-- First, update the user_profiles table to set admin role
UPDATE user_profiles 
SET role = 'admin' 
WHERE email = 'admin@glowmatch.com';

-- Then, create a special admin subscription plan if it doesn't exist
INSERT INTO subscription_plans (name, plan_type, price, quiz_attempts, description, features)
SELECT 'Admin Plan', 'plus', 0.00, 999999, 'Administrative unlimited access plan', 
       '[\
Unlimited
quiz
attempts\, \All
premium
features\, \Administrative
access\]'::jsonb
WHERE NOT EXISTS (
    SELECT 1 FROM subscription_plans WHERE name = 'Admin Plan'
)
RETURNING id;

-- Finally, create/update admin's subscription
WITH admin_plan AS (
    SELECT id FROM subscription_plans WHERE name = 'Admin Plan'
),
admin_user AS (
    SELECT id FROM user_profiles WHERE email = 'admin@glowmatch.com'
)
INSERT INTO user_subscriptions (
    user_id,
    plan_id,
    status,
    current_period_start,
    current_period_end,
    quiz_attempts_used,
    quiz_attempts_limit
)
SELECT 
    (SELECT id FROM admin_user),
    (SELECT id FROM admin_plan),
    'active',
    CURRENT_TIMESTAMP,
    CURRENT_TIMESTAMP + INTERVAL '100 years',
    0,
    999999
ON CONFLICT (user_id) 
DO UPDATE SET
    plan_id = EXCLUDED.plan_id,
    status = EXCLUDED.status,
    current_period_end = EXCLUDED.current_period_end,
    quiz_attempts_limit = EXCLUDED.quiz_attempts_limit,
    updated_at = CURRENT_TIMESTAMP;
